// DEFINE WIFI
#define WIFI_SSID ""
#define WIFI_PASS ""

// DEFINE STRUCT SCHEDULE
#define MAX_SCHEDULES 20
#define MAX_DAYS 7
#define MAX_ACTIONS 10

// DEFINE DELAY
#define delay_minute 60000
#define delay_relay 100
#define delay_temp 12000
#define delay_gps 5000
#define delay_connect 100
#define delay_wifi 1000
#define delay_led 500

// DEFINE PINS
#define SDA 11
#define SCL 12
#define TXD_RELAY 6
#define RXD_RELAY 7
#define TXD_GPS 8
#define RXD_GPS 9
#define LED 45
#define NUM_PIXELS 4
#define BAUD_RATE_1 115200
#define BAUD_RATE_2 9600

// DEFINE MQTT
#define MQTT_SERVER "io.adafruit.com"
#define MQTT_PORT 1883
#define IO_USERNAME ""
#define IO_KEY ""

// DEFINE NTP
#define httpPort 80

// DEFINE SERVER
#define ntpServer "pool.ntp.org"
#define utcOffsetInSeconds 25200
